<h1>Seja bem-vindo!</h1>

<ul>
  <li><a href="/contacts">Contatos</a></li>
  <li><a href="/kinds">Tipos</a></li>
  <li><a href="/addresses">Endereços</a></li>
  <li><a href="/phones">Telefones</a></li>
</ul>
